/* You can add global styles to this file, and also import other style files */

@use '../../common-utils.scss' as *;

.textTruncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.error {
  @include fontStyle(var(--fs-14), rem(20px), 400);
  color: var(--red);
  max-width: rem(400px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.box_active {
  i-feather {
    color: var(--green-600);
  }
}

.box {
  @include flex('', center, rem(8px));
  color: var(--neutral-500);
  padding: rem(12px) rem(18px);
  border-radius: rem(8px);
  border: rem(1px) solid var(--neutral-300);
  box-shadow: 0 rem(1px) rem(2px) 0 var(--chunk-shadow);
  background-color: var(--white);
  cursor: pointer;

  i-feather {
    @include box(rem(20px), rem(20px));
    display: flex;
  }

  .text {
    @include fontStyle(var(--fs-16), rem(24px), 600);
  }

  &.blue {
    background-color: var(--blue-50);
    border: rem(1px) solid var(--blue-300);
    color: var(--blue-600);
  }

  &.red {
    background-color: var(--red-50);
    border: rem(1px) solid var(--red-100);
    color: var(--red-700);
  }
}

// custom form
.form_wrapper {
  margin: 0 rem(16px) rem(16px) rem(16px);
  border: rem(1px) solid var(--neutral-300);
  border-radius: rem(16px);
  background-color: var(--blue-50);
  padding: rem(16px);
  @include flex('', '', rem(16px));

  .form_side {
    flex-grow: 1;
    width: rem(728px);
    @include flex('', '', rem(16px), column);

    .row_item {
      min-height: rem(56px);
      @include flex('', baseline, rem(8px));

      .wrapper {
        width: 100%;
        flex-grow: 1;
        @include flex('', '', rem(16px), column);
        gap: rem(16px) !important;

        .split_box {
          @include flex('', '', rem(16px), column);

          .item_box {
            min-height: rem(56px);
            @include flex('', '', rem(16px));

            .left,
            .right {
              width: 50%;

              &.phn_box_left {
                width: rem(145px);
              }

              &.phn_box_right {
                flex-grow: 1;
              }
            }
          }
        }
      }
    }
  }

  .line {
    width: rem(1px);
    background-color: var(--neutral-200);
  }
}

// buttons for right side
.btn_wrapper {
  height: rem(82px);
  padding: 0 rem(16px);
  @include flex(end, center, rem(16px));
}

.switch_section {
  position: relative;
  @include box(rem(44px), rem(24px));

  .switch {
    position: relative;
    display: inline-block;
    @include box(100%, 100%);

    input {
      opacity: 0;
      @include box(0, 0);

      &:focus {
        box-shadow: unset;
      }

      &:checked + .slider {
        background-color: var(--blue-600);

        &:before {
          -webkit-transform: translateX(rem(26px));
          -ms-transform: translateX(rem(26px));
          transform: translateX(rem(26px));
          left: rem(-5px);
          bottom: rem(2px);
        }
      }

      &:focus + .slider {
        box-shadow: 0 0 rem(1px) var(--blue-600);
      }
    }

    .slider {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
      background-color: #ccc;
      transition: 0.4s;
      border-radius: rem(12px);
      width: rem(44px);

      &:before {
        content: '';
        position: absolute;
        @include box(rem(20px), rem(20px));
        left: rem(3px);
        bottom: rem(2px);
        background-color: var(--white);
        transition: 0.4s;
        box-shadow: 0 rem(1px) rem(2px) 0 var(--box-shadow);
        border-radius: 50%;
      }

      &.round {
        border-radius: rem(12px);
      }
    }
  }
}

.box_ui {
  @include box(rem(28px), rem(28px));
  @include flex(center, center);
  border-radius: rem(4px);
  background-color: var(--blue-200);
  border: rem(1px) solid var(--blue-400);
}

// Header Image Section For Normal Icon and Hover Icon Start Here
.search_icon_wrapper {
  position: relative;
  @include hoverSwap('.search_icon', '.search_hover_icon');

  &.disabledSearch {
    pointer-events: none;
  }
}

.add_icon_wrapper {
  position: relative;
  @include hoverSwap('.add_icon', '.add_icon_hover');
}

.filter_icon_wrapper {
  position: relative;
  @include hoverSwap('.filter_icon', '.filter_hover_icon');
}

.header_icon_wrapper {
  position: relative;
  @include hoverSwap('.header_icon', '.header_hover_icon');
}

/* Custom class for tooltip css starts here */
.customClass.tooltip.show {
  opacity: 1;
  margin-top: rem(6px);
}

.customClass .tooltip-inner {
  background: var(--white);
  @include fontStyle(rem(14px), rem(18px), 600);
  border-radius: rem(8px);
  padding: rem(8px) rem(12px);
  max-width: rem(311px);
  min-width: rem(60px);
  color: var(--neutral-500);
  border: 0;
  position: relative;
  box-shadow: 0 rem(4px) rem(10px) rem(6px) #0a0d121a;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.link_tooltip {
  color: green !important;
}

.customClass_info .tooltip-inner {
  @include fontStyle(var(--fs-16), rem(24px), 400);
  color: var(--gray-700);
}

.bs-tooltip-auto[data-popper-placement^='bottom'] .tooltip-arrow::before,
.bs-tooltip-bottom .tooltip-arrow::before {
  border-width: 0 calc(var(--bs-tooltip-arrow-width) * 0.5) var(--bs-tooltip-arrow-height);
  content: '';
  position: absolute;
  bottom: 0%;
  left: rem(-2px);
  border-bottom: rem(10px) solid var(--neutral-50);
  border-right: rem(10px) solid transparent;
  border-left: rem(10px) solid transparent;
  border-color: transparent !important;
}

.bs-tooltip-bottom .tooltip-arrow::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0%;
  border-bottom: rem(8px) solid var(--white);
  border-right: rem(8px) solid transparent;
  border-left: rem(8px) solid transparent;
}

.tooltip-open {
  overflow: hidden;
}

.tooltip .tooltip-arrow {
  z-index: 100;
}

// --------------------------- CUSTOM-MODEL
.largeModel.modal-dialog {
  max-width: rem(1700px);
  height: calc(100vh - rem(96px));
  margin: auto;
  margin: rem(80px) auto rem(16px) auto;
  display: flex;

  .modal-content {
    border-radius: rem(16px);
    border: 0;
  }

  .custom_model {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .custom_model_header {
    min-height: rem(64px);
    border-top-left-radius: rem(16px);
    border-top-right-radius: rem(16px);
    overflow: hidden;
    box-shadow: 0px 2px 40px var(--model-shadow);

    .header_content {
      padding: 0 rem(32px);
      @include flex(space-between, center);
      min-height: rem(56px);

      .heading {
        @include flex(flex-start, center, rem(16px));

        .name {
          @include fontStyle(var(--fs-18), rem(24px), 600);
          color: var(--neutral-600);
        }

        .step {
          @include fontStyle(var(--fs-12), rem(18px), 500);
          color: var(--blue-700);
          background-color: var(--blue-100);
          border-radius: rem(16px);
          padding: rem(3px) rem(8px);
        }
      }
    }
  }

  .custom_model_progress_bar {
    height: rem(8px);
    background-color: var(--neutral-200);

    .progress_done {
      background-color: var(--blue-600);
      height: 100%;
      width: 100%;
    }
  }

  .custom_model_body {
    .myForm {
      padding: rem(32px);

      .heading {
        @include fontStyle(var(--fs-24), rem(24px), 600);
        color: var(--black-800);
        margin-bottom: rem(16px);
        text-align: center;
      }

      .desc {
        text-align: center;
        @include fontStyle(var(--fs-18), rem(24px), 400);
      }
    }
  }

  .custom_model_message {
    height: rem(88px);
    @include flex(center, center);
    padding: rem(16px) rem(32px);
  }

  .custom_model_footer {
    padding: 0 rem(32px);
    min-height: rem(88px);
    @include flex(space-between, center);
    box-shadow: 0 rem(2px) rem(40px) var(--model-shadow);
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.badges {
  padding: rem(4px) rem(8px);
  min-height: rem(32px);
  @include fontStyle(var(--fs-16), rem(24px), 400);
  @include flex('', center);
  border-radius: rem(4px);
  width: unset;

  &.default {
    background-color: var(--orange-100);
    color: var(--orange-700);
  }

  &.blue {
    background-color: var(--blue-50);
    border: rem(1px) solid var(--blue-300);
    color: var(--blue-700);
  }

  &.r-16 {
    border-radius: rem(16px);
    padding: rem(3px) rem(8px);
  }

  &.green {
    border: none;
    background-color: var(--green-100);
    color: var(--green-700);
  }
}

.pill {
  @include flex(center, center, rem(8px));
  padding: rem(7px) rem(8px);
  background: var(--white);
  border-radius: rem(6px);
  border: rem(1px) solid var(--neutral-200);
  @include fontStyle(var(--fs-16), rem(24px), 500);

  // min-width: rem(138px);

  i-feather {
    @include box(rem(18px), rem(18px));
    color: var(--neutral-400);
    display: flex !important;

    &.check_icon {
      color: var(--green-600);
    }
  }

  &.blue {
    border: rem(1px) solid var(--blue-600);
    background-color: var(--blue-200);
    color: var(--blue-700);
    cursor: pointer;
  }

  &.blue_outline {
    border: rem(1px) solid var(--blue-500);

    i-feather {
      color: var(--blue-600);
    }
  }

  &.disabled {
    background-color: var(--neutral-50);
    color: var(--neutral-400);
    cursor: not-allowed !important;
    i-feather {
      color: var(--neutral-400);
    }
  }

  &.fill {
    background-color: var(--blue-600);
    color: var(--white) !important;
    i-feather {
      color: var(--white) !important;
      margin: 0 !important;
    }
  }

  &.disabled_btn {
    background-color: transparent;
    color: var(--neutral-300);
    pointer-events: none;
  }

  &.w_32 {
    height: rem(32px);
    .text {
      @include fontStyle(var(--fs-14), rem(20px), 600);
    }
  }

  span {
    max-width: rem(174px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .text {
    max-width: calc(100vw - rem(504px));
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

// overview
.overview_section_UI {
  height: calc(100vh - rem(120px));
  max-height: calc(100vh - rem(120px));
  border-top-left-radius: rem(16px);
  border: rem(1px) solid var(--neutral-200);
  @include flex('', '', 0, column);
  overflow-y: auto;
  .overview_details_UI {
    background-color: var(--white);
    border-top-left-radius: rem(16px);
    @include flex('', '', 0, column);
    padding: 0 rem(16px) rem(16px) rem(16px);
    height: calc(100vh - rem(120px));
    overflow-y: auto;

    .top_header {
      min-height: rem(32px);
      padding: rem(16px) 0;
      @include flex(space-between, center);

      .left_text {
        @include fontStyle(var(--fs-16), rem(24px), 600);
        color: var(--black-800);
        @include flex('', center, rem(8px));
      }

      .rigth_box {
        @include flex('', center, rem(8px));
      }
    }
  }
}

// tab
.tabs_container {
  min-height: rem(48px);
  padding: rem(4px);
  display: flex;
  border-radius: rem(8px);
  background-color: var(--neutral-50);

  .tab {
    padding: rem(8px) rem(16px);
    @include fontStyle(var(--fs-16), rem(24px), 600);
    color: var(--neutral-600);
    height: 100%;
    cursor: pointer;
    position: relative;
    &.active {
      border-bottom: rem(1px) solid var(--blue-600);
      background-color: var(--white);
      cursor: unset;
    }
  }
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 12px;

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    padding-left: 28px;

    input {
      display: none;

      &:checked + .custom-radio {
        border-color: #4a90e2;

        &::after {
          transform: scale(1);
          opacity: 1;
        }
      }
    }

    .custom-radio {
      width: 18px;
      height: 18px;
      border: 2px solid #aaa;
      border-radius: 50%;
      position: absolute;
      left: 0;
      transition: border-color 0.25s;

      &::after {
        content: '';
        width: 10px;
        height: 10px;
        background: #4a90e2;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 0.25s ease;
        opacity: 0;
      }
    }
  }
}

// custom field which have icon on right side

.field {
  min-height: rem(56px);
  @include flex('', '', rem(8px), column);
  .custom_field {
    @include flex('', center);
    border: rem(1px) solid var(--neutral-300);
    box-shadow: 0 rem(1px) rem(2px) 0 var(--chunk-shadow);
    border-radius: rem(8px);

    &.disabled {
      background-color: var(--neutral-50) !important;
    }

    input {
      border: none !important;
      background-color: transparent;
    }

    i-feather {
      color: var(--neutral-400);
      margin-right: rem(16px);
      display: flex;
      cursor: pointer;
      @include box(rem(24px), rem(24px));
    }

    &.active {
      background-color: var(--white);
      input {
        background-color: var(--white);
      }
    }
  }
}

// for the no data found

.no_data_found {
  @include flex(center, center, rem(16px), column);
  @include box(100%, calc(100vh - rem(300px)));
  background-color: var(--white);

  .img {
    @include box(rem(435px), rem(254px));
  }

  .bold_text {
    @include fontStyle(var(--fs-24), 100%, 600);
  }

  .info_text {
    @include fontStyle(var(--fs-18), rem(24px), 400);
    color: var(--neutral-500);
    text-align: center;
  }
}

.pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  @include box(rem(8px), rem(8px));
}

::-webkit-scrollbar-thumb {
  background: var(--neutral-200);
  border-radius: rem(8px);
}
// for the small
.smallModel {
  max-width: unset !important;
  max-width: rem(620px) !important;

  .modal-body {
    padding: 0;
  }

  .small_modal_wrapepr {
    padding: rem(24px);
    @include flex(center, center, rem(4px), column);

    .img {
      @include box(rem(435px), rem(254px));
    }

    .bold_text {
      @include fontStyle(var(--fs-20), 100%, 600);
    }

    .info_text {
      @include fontStyle(var(--fs-14), rem(24px), 400);
      color: var(--neutral-500);
      text-align: center;
    }

    .myForm {
      margin-top: rem(24px);
      @include flex('', '', rem(16px), column);

      .row_item {
        @include flex('', '', rem(8px));
        @include box(rem(572px), rem(56px));

        label {
          @include flex('', center);
        }

        .box_wrapper {
          flex-grow: 1;
        }
      }
    }

    .custom_model_footer {
      gap: rem(16px);
      button {
        flex-grow: 1;
      }
    }
  }
}

.custom_model_footer {
  border-top: rem(1px) solid var(--neutral-200);
  margin-top: rem(24px);
  padding-top: rem(24px);
  width: 100%;
  @include flex(space-between, center);
  height: rem(80px);

  .right {
    @include flex('', '', rem(16px));
  }
}

input[type='checkbox'] {
  cursor: pointer;
}

.btnEffect {
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    scale: 1.03;
  }

  &:focus {
    cursor: pointer;
    scale: 1.03;
  }

  &:active {
    scale: 0.98;
  }
}

.pill_icon {
  border-radius: rem(4px);
  box-shadow: 0 rem(1px) rem(2px) 0 var(--chunk-shadow);
  @include flex(center, center);
  background-color: var(--white);
  border: rem(1px) solid var(--neutral-200);

  i-feather {
    display: flex;
  }

  &.w_24 {
    @include box(rem(24px), rem(24px));
  }

  &.w_32 {
    @include box(rem(32px), rem(32px));
    i-feather {
      @include box(rem(16px), rem(16px));
    }
  }

  &.blue {
    border: rem(1px) solid var(--blue-500);

    i-feather {
      color: var(--blue-600);
    }
  }
}

// for the tool tips
.pill {
  position: relative;

  .tool_tips {
    position: absolute;
    max-width: rem(337px);
    background-color: var(--white);
    box-shadow: 0 rem(2px) rem(16px) 0 var(--chunk-shadow-100);
    z-index: 2;
    padding: rem(8px) rem(16px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    top: rem(42px);
    border-radius: rem(4px);
    display: none;
    gap: rem(8px);
    .box {
      padding: rem(8px) rem(7px);
    }
    max-height: rem(200px);
    overflow-y: auto;

    .box .text {
      max-width: rem(105px);
    }
  }

  &:hover {
    .tool_tips {
      display: grid;
      z-index: 5;
    }
  }
}

.card_wrapper .card_item:nth-child(3n) {
  .pill {
    .tool_tips {
      right: 0;
    }
  }
}

.card_wrapper .card_item:not(:nth-child(3n)) {
  .pill {
    .tool_tips {
      left: 0;
    }
  }
}

i-feather {
  display: flex !important;
  @include box(rem(24px), rem(24px));
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.modal.fade.show:has(.small_modal_backdrop) {
  background-color: var(--backdrop_small_modal);
}
