.custom_model_body .top_field {
  height: 56px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.custom_model_body .top_field .item {
  display: flex;
  align-items: center;
  gap: 16px;
  min-width: 328px;
  flex-grow: 1;
}

.custom_model_body .top_field .item .custom_field {
  width: 582px;
}

.custom_model_body .top_field .item .custom_field img {
  max-width: 19px;
  margin-right: 18px;
}

.custom_model_body .top_field .item label {
  min-width: unset;
  width: 127px;
}

.custom_model_body .top_field .item:not(:first-child) {
  width: 260px;
}

/* Suggestions */
.suggestions-list {
  list-style: none;
  position: absolute;
  top: 59px;
  background: var(--white);
  border: 1px solid var(--neutral-200);
  border-radius: 6px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  padding: 0;
  width: 100%;
}

.suggestions-list li {
  padding: 8px 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background: var(--white);
}

/* Map box */
.map-box {
  width: 1530px;
  height: 310px;
  border-radius: 8px;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 500px;
  border-radius: 8px;
}

.mapboxgl-ctrl-bottom-right {
  display: none !important;
}

.myForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.map-box .mapboxgl-canary .mapboxgl-canvas-container .mapboxgl-canvas {
  width: 100% !important;
}
