// @use '../../../styles.scss' as *;

// .main_container {
//   position: relative;
//   width: 100%;
//   .input_container {
//     @include flex(space-between, center);
//     @include box(100%, rem(56px));
//     @include border($radius: rem(8px));
//     padding: 0 rem(16px);
//     @include fontStyle(var(--fs-16), rem(24px));
//     background-color: var(--white);
//     color: var(--default);
//     cursor: pointer;

//     .input_box {
//       @include box(calc(100% - rem(24px)), 100%);
//       input {
//         @include fontStyle(var(--fs-16), rem(24px), 400);
//         color: var(--neutral-900);
//         @include box(100%, 100%);
//         border: none;
//         outline: none;
//       }
//       .drop_icon {
//         cursor: pointer;
//         @include box(rem(24px), rem(24px));
//         min-width: rem(24px);
//       }
//     }
//     .arrow_icon {
//       img {
//         max-width: rem(24px);
//       }
//     }
//   }
//   .dropdown_list_single_auto_select {
//     position: absolute;
//     width: 100%;
//     z-index: 2;
//     background: var(--white);
//     box-shadow: rem(0px) rem(12px) rem(16px) rem(-4px) var(--box-shadow);
//     @include border($radius: rem(8px));
//     top: rem(56px);

//     ul {
//       max-height: rem(284px);
//       overflow: auto;
//       list-style-type: none;
//       padding: rem(8px) 0;
//       li {
//         height: rem(56px);
//         @include flex(space-between, center);
//         @include fontStyle(var(--fs-16), rem(24px));
//         padding: rem(16px);
//         cursor: pointer;
//         color: var(--default);
//         &.disabled_option {
//           opacity: 0.4;
//           pointer-events: none;
//         }
//         &:hover {
//           background-color: var(--neutral-50);
//         }
//       }
//     }
//   }
// }

input {
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}
